@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ff9966;
  background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
  background: linear-gradient(to right, #ff5e62, #ff9966);
}

main {
  width: 1000px;
  margin: 30px auto;
}

input {
  display: block;
}

h1 {
  text-align: center;
}

.formCommentsWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 250px;
  background-color: white;
  padding: 15px;
}

.CommentsWrapper {
  flex-direction: column;
  margin: 30px auto;
  width: 700px;
  background-color: white;
  padding: 15px;
}

.formCommentsWrapper div {
  margin-bottom: 15px;
}

.formCommentsWrapper button {
  margin-top: 15px;
}

.formCommentsWrapper textarea::placeholder {
  font-family: 'Lato';
}